<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z - Chat</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="sidebar">
    
        <div class="logo">
            <img src="Image/LogoText.png" style="max-width:600px;width:50%" alt="Logo Text">
        </div>
        <div class="menu-item">
            <div class="icon">👥</div>
            <div>FRIENDS</div>
        </div>
        <div class="menu-item">
            <div class="icon">🔔</div>
            <div>Notification</div>
        </div>
        <div class="friend-list">
            <!-- ici y a les amis -->
        </div>
        <div class="user-panel">
            <div class="user-avatar">
                <img src="Image/me.webp" alt="AUDRIC">
            </div>
            <div class="user-info">
                <div class="user-name">AUDRIC</div>
                <div class="user-status">online</div>
            </div>
            <div class="user-controls">
                <button class="user-control-btn">
                    <i class="fas fa-comment"></i>
                </button>
                <button class="user-control-btn">
                    <i class="fas fa-cog"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="chat-area">
        <!-- ici y a les information sur la personne que tu discute avec -->
        <div class="chat-header">
            <div class="chat-avatar">
                <img src="Image/nico.webp" alt="Nicod16">
            </div>
            <div class="chat-name">Nicod16</div>
        </div>

        <div class="chat-messages">
            <!-- ici il y'aura les messages-->
        </div>
        <div class="chat-input-area">
            <button class="chat-input-plus">
                <img src="Image/Fichier.png" style="max-width:600px;width:100%" alt="Ouvrir Fichier">
            </button>
            <input type="text" class="chat-input" placeholder="Entrez votre message...">
            <button class="chat-send-btn">
                <img src="Image/send.webp" style="max-width:600px;width:100%"alt="Envoyer">
            </button>
        </div>
        
    </div>
</body>
</html>
